.App {
  text-align: center;
}

.inputCard {
    top: 4em;
    padding: 2em;
    margin: 6em 10em 1em 10em;
}

.todoListCard {
    padding: 2em;
    margin: 2em 10em 2em 10em;
}

.todoItemCard {
    padding: 2em;
    margin: 2em 10em 2em 10em;
}